<!DOCTYPE html>
<html lang="kk">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <link rel="icon" type="image/x-icon" href="favicon.png">
        <link rel="stylesheet" href="https://cdn404.netlify.app/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="~/css/index.css" />
    </head>
    <body>
        <partial name="_LoginPartial" />
        @RenderBody()
        <footer class="flex flex-center p-30 bgc-darkBlue">
            <p class="c-white">Ахмет Ясауи Университеті | 2022</p>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/js/jq.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
