@model ErrorViewModel

@{
    ViewData["Title"] = "Қате";
}

<h1 class="c-darkRed">Қате</h1>
<h2 class="c-darkRed">Сұрауыңызды өңдеу кезінде қате орын алды</h2>

@if (Model.ShowRequestId)
{
    <p><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
}

<h3>Әзірлеу режимі</h3>
<p><strong>Әзірлеу</strong> ортасына ауысу орын алған қате туралы толығырақ ақпаратты көрсетеді</p>
<p><strong>Орналастырылған қолданбалар үшін әзірлеу ортасы қосылмауы керек.</strong> Бұл ерекше жағдайлардан соңғы пайдаланушыларға құпия ақпаратты көрсетуге әкелуі мүмкін. Жергілікті жөндеу үшін <strong>ASPNETCORE_ENVIRONMENT</strong> ортасының айнымалы мәнін <strong>әзірлеу</strong> етіп орнату арқылы <strong>әзірлеу</strong> ортасын қосыңыз және қолданбаны қайта іске қосыңыз.</p>
