@model ProfileWeb.ViewModel.AchievementViewModel

@{
    ViewData["Title"] = "Жетістікті қосу | Ахмет Ясауи Университеті";
}

<main class="m-30">
    <div class="flex flex-between p-30 br-5 bgc-lightGrey">
        <div>
            <a class="c-darkRed" href="">ОПҚ ТІЗІМІ</a>
            /
            <a class="c-darkGrey disabled" href="">ОҚЫТУШЫ-ПРОФЕССОР ПОРТФОЛИОСЫ</a>
        </div>
        <a class="c-darkRed" target="_blank" href="https://www.youtube.com/watch?v=-SbFWF5az1g">ВИДЕО НҰСҚАУЛЫҚ</a>
    </div>
    <div class="p-30">
        <h3 class="d-inline-block mr-5 fs-17">ЖЕТІСТІКТІ ҚОСУ</h3>
    </div>
    <div class="p-30 br-5 bgc-lightGrey">
        <form asp-action="CreateAchieve" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="c-darkRed"></div>
            <label class="d-block mb-5" for="KZ_Topic">ЖЕТІСТІК:</label>
            <input class="d-block mb-15 p-5 br-5 w-full" type="text" asp-for="KZ_Topic"/>
            <div asp-validation-for="KZ_Topic" class="c-darkRed"></div>
            <button class="d-block py-5 px-10 br-5 bgc-darkBlue c-white" type="submit">ҚОСУ</button>
        </form>
    </div>
    <div class="pt-30 pl-30">
        <a class="c-darkRed" asp-action="Index">ПОРТФОЛИОҒА ҚАЙТУ</a>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
