@model ProfileWeb.ViewModel.AchievementViewModel

@{
    ViewData["Title"] = "Жетістікті жою | Ахмет Ясауи Университеті";
}

<main class="m-30">
    <div class="flex flex-between p-30 br-5 bgc-lightGrey">
        <div>
            <a class="c-darkRed" href="">ОПҚ ТІЗІМІ</a>
            /
            <a class="c-darkGrey disabled" href="">ОҚЫТУШЫ-ПРОФЕССОР ПОРТФОЛИОСЫ</a>
        </div>
        <a class="c-darkRed" target="_blank" href="https://www.youtube.com/watch?v=-SbFWF5az1g">ВИДЕО НҰСҚАУЛЫҚ</a>
    </div>
    <div class="p-30">
        <h3 class="d-inline-block mr-5 fs-17 c-darkRed">ЖЕТІСТІКТІ ЖОЮ</h3>
    </div>
    <div class="p-30 br-5 bgc-pink">
        <div class="d-block mt-10 mb-15">
            <h2 class="d-inline mr-5 fs-17 ff-body-regular c-darkRed">@Html.DisplayFor(model => model.KZ_Topic)</h2>
        </div>
        <form asp-action="DeleteAchieve">
            <input type="hidden" asp-for="Ach_Id" />
            <button class="d-block py-5 px-10 br-5 bgc-darkRed c-white" type="submit">ЖОЮ</button>
        </form>
    </div>
    <div class="pt-30 pl-30">
        <a class="c-darkRed" asp-action="Index">ПОРТФОЛИОҒА ҚАЙТУ</a>
    </div>
</main>
