@model ProfileWeb.ViewModel.QulificationViewModel
@{
    ViewData["Title"] = "Жою";
}

<h1>Өшіру</h1>
<div class="alert alert-danger">
<h3>Мұны шынымен жойғыңыз келе ме?</h3>
</div>
<div class="card">
    <div class="card-header">
        <h3 class="text-uppercase">Осы біліктілікті жою</h3>
    </div>
    <div class="card-body">
        <dl class="row">
           <dd class="col-sm-10">
               @Html.DisplayFor(model => model.KZ_Qu)
            </dd>
        </dl>
        <form asp-action="DeleteQu">
            <input type="hidden" asp-for="QuW_Id" />
            <button type="submit" class="btn btn-sm btn-danger rounded-0"><i class="fa fa-trash-alt"></i> Иә</button>
            <a asp-action="Index"  class="btn btn-sm btn-primary rounded-0"><i class="fas fa-fast-backward"></i>Жоқ</a>
        </form>
    </div>
</div>
