@model ProfileWeb.Models.ApplicationUser

@{
    ViewData["Title"] = "Портфолио ақпаратын өзгерту | Ахмет Ясауи Университеті";
}

<main class="m-30">
    <div class="flex flex-between p-30 br-5 bgc-lightGrey">
        <div>
            <a class="c-darkRed" href="">ОПҚ ТІЗІМІ</a>
            /
            <a class="c-darkGrey disabled" href="">ОҚЫТУШЫ-ПРОФЕССОР ПОРТФОЛИОСЫ</a>
        </div>
        <a class="c-darkRed" target="_blank" href="https://www.youtube.com/watch?v=-SbFWF5az1g">ВИДЕО НҰСҚАУЛЫҚ</a>
    </div>
    <div class="p-30">
        <h3 class="fs-17">ПОРТФОЛИО АҚПАРАТЫН ӨЗГЕРТУ</h3>
    </div>
    <div class="p-30 br-5 bgc-lightGrey">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="c-darkRed"></div>

            <label class="d-block mb-5" for="ProfilePhoto">СУРЕТІ:</label>
            <div class="mb-5">
                @if (Model.PhotoUrl != null)
                    {
                        <img id="profilePicture" class="w-300 br-5 b-5 bc-darkRed" src="~/images/@Model.PhotoUrl" />
                    }
                    else
                    {
                        <img id="profilePicture" class="w-300 br-5 b-5 bc-darkRed" src="~/photo/tps-img.png" />
                    }
            </div>
            <input type="file" asp-for="ProfilePhoto" accept=".png,.jpg,.jpeg,.gif,.tif" class="d-block mb-10 p-5 br-5 w-300" onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />

            <label class="d-block mb-5" for="Lastname_kz">ТЕГІ:</label>
            <input class="d-block mb-10 p-5 br-5 w-500" asp-for="Lastname_kz" readonly />
            <div asp-validation-for="Lastname_kz" class="c-darkRed"></div>

            <label class="d-block mb-5" for="Firstname_kz">АТЫ:</label>
            <input class="d-block mb-10 p-5 br-5 w-500" asp-for="Firstname_kz" readonly />
            <div asp-validation-for="Firstname_kz" class="c-darkRed"></div>

            <label class="d-block mb-5" for="Middlename_kz">ӘКЕСІНІҢ АТЫ:</label>
            <input class="d-block mb-10 p-5 br-5 w-500" asp-for="Middlename_kz" readonly />
            <div asp-validation-for="Middlename_kz" class="c-darkRed"></div>

            <label class="d-block mb-5" for="Faculty_ID">ФАКУЛЬТЕТІ:</label>
            <select class="d-block mb-10 p-5 br-5" asp-for="Faculty_ID" asp-items="ViewBag.Faculty"></select>
            <div asp-validation-for="Faculty_ID" class="c-darkRed"></div>

            <label class="d-block mb-5" for="Department_ID">КАФЕДРАСЫ:</label>
            <select class="d-block mb-10 p-5 br-5" asp-for="Department_ID" asp-items="ViewBag.Department"></select>
            <div asp-validation-for="Department_ID" class="c-darkRed"></div>

            <label class="d-block mb-5" for="Degree_ID">ҒЫЛЫМИ ДӘРЕЖЕСІ:</label>
            <select class="d-block mb-10 p-5 br-5" asp-for="Degree_ID" asp-items="ViewBag.degree"></select>
            <div asp-validation-for="Degree_ID" class="c-darkRed"></div>

            <input type="hidden" asp-for="Id" />

            <label class="d-block mb-5" for="Rank_ID">ҒЫЛЫМИ АТАҒЫ:</label>
            <select class="d-block mb-10 p-5 br-5" asp-for="Rank_ID" asp-items="ViewBag.Rank"></select>
            <div asp-validation-for="Rank_ID" class="c-darkRed"></div>

            <label class="d-block mb-5" for="Address">ЖҰМЫС МЕКЕН-ЖАЙЫ:</label>
            <input class="d-block mb-10 p-5 br-5 w-500" asp-for="Address" />
            <div asp-validation-for="Address" class="c-darkRed"></div>

            <label class="d-block mb-5" for="PhoneNumber">ЖҰМЫС ТЕЛЕФОНЫ:</label>
            <input class="d-block mb-10 p-5 br-5 w-500" asp-for="PhoneNumber" />
            <div asp-validation-for="PhoneNumber" class="c-darkRed"></div>

            <label class="d-block mb-5" for="Email">КОРПОРАТИВТІ ПОШТАСЫ:</label>
            <input class="d-block mb-15 p-5 br-5 w-500" asp-for="Email" />
            <div asp-validation-for="Email" class="c-darkRed"></div>

            <button class="d-block py-5 px-10 br-5 bgc-darkBlue c-white" type="submit">ӨЗГЕРТУ</button>
        </form>
    </div>
    <div class="pt-30 pl-30">
        <a class="c-darkRed" asp-action="Details" asp-route-id="@Model.Id">ПОРТФОЛИОҒА ҚАЙТУ</a>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
