@model ProfileWeb.ViewModel.WorkwayViewModel

@{
    ViewData["Title"] = "Еңбек жолын өзгерту ";
}

<h1></h1>

<h4>Еңбек жолын өзгерту </h4>
<hr />
<div class="card">
    <div class="card-header">
        <h3 class="text-uppercase">Еңбек жолын өзгерту</h3>
    </div>
    <div class="card-body">
        <form asp-action="EditWork" enctype="multipart/form-data">
            <input type="hidden" asp-for="WorkW_Id" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="KZ_Work" class="form-control" />
                        <span asp-validation-for="KZ_Work" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-info rounded-0"><i class="fa fa-pencil-alt"></i> ӨЗГЕРТУ</button>
               <a asp-action="Index" class="btn btn-sm btn-primary rounded-0"><i class="fas fa-fast-backward"></i> Профильге қайту</a>
                
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}