@model ProfileWeb.ViewModel.ResearchViewModel

@{
    ViewData["Title"] = "Зерттеу жұмыстарын өзгерту | Ахмет Ясауи Университеті";
}

<main class="m-30">
    <div class="flex flex-between p-30 br-5 bgc-lightGrey">
        <div>
            <a class="c-darkRed" href="">ОПҚ ТІЗІМІ</a>
            /
            <a class="c-darkGrey disabled" href="">ФИО</a>
        </div>
        <a class="c-darkRed" target="_blank" href="https://www.youtube.com/watch?v=-SbFWF5az1g">ВИДЕО НҰСҚАУЛЫҚ</a>
    </div>
    <div class="p-30">
        <h3 class="d-inline-block mr-5 fs-17">ЗЕРТТЕУ ЖҰМЫСЫН / ЖАРИЯЛАНЫМДЫ ӨЗГЕРТУ</h3>
    </div>
    <div class="p-30 br-5 bgc-lightGrey">
        <form asp-action="EditProfile" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <label class="d-block mb-5" for="KZ_Title">ЗЕРТТЕУ ЖҰМЫСЫ / ЖАРИЯЛАНЫМ:</label>
            <input class="d-block mb-10 p-5 br-5 w-full" asp-for="KZ_Title" />
            <div asp-validation-for="KZ_Title" class="c-darkRed"></div>
            <label class="d-block mb-5" for="Document">PDF-ФАЙЛ:</label>
            <input class="d-block mb-15 p-5 br-5 w-300" asp-for="Document" accept=".pdf" />
            <div asp-validation-for="Document" class="c-darkRed"></div>
            <button class="d-block py-5 px-10 br-5 bgc-darkBlue c-white" type="submit">ӨЗГЕРТУ</button>
        </form>
    </div>
    <div class="pt-30 pl-30">
        <a class="c-darkRed" asp-action="Index">ПОРТФОЛИОҒА ҚАЙТУ</a>
    </div>
</main>

@section Scripts {
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
