@model IEnumerable<ProfileWeb.Models.ApplicationUser>

@{
    ViewData["Title"] = "ОПҚ | Ахмет Ясауи Университеті";
}

<table id="pagination" class="display">
    <thead>
        <tr>
            <th>
                ТЕГІ, АТЫ, ӘКЕСІНІҢ АТЫ:
            </th>
            <th>
                ФАКУЛЬТЕТІ:
            </th>
            <th>
                КАФЕДРАСЫ:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @string.Join(" ", item.Lastname_kz, item.Firstname_kz, item.Middlename_kz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculties.KZ_AD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kafedra.KZ_AD)
            </td>
            <td>
                <a asp-action="Info" asp-route-id="@item.Id">ТОЛЫҒЫРАҚ</a> 
            </td>
        </tr>
        }
    </tbody>
</table>
